[Unit]
Description=BLE Gateway Flask App
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Code/BLE-MESH/gateway
ExecStart=/home/pi/Code/BLE-MESH/gateway/myvenv/bin/python /home/pi/Code/BLE-MESH/gateway/app/app.py
Restart=always

StandardOutput=append:/home/pi/Code/BLE-MESH/gateway/log/gateway.log
StandardError=append:/home/pi/Code/BLE-MESH/gateway/log/gateway.log

[Install]
WantedBy=multi-user.target
